@import "base/book.css";

/* text formatting */

p, li, blockquote, h1, h2, h3, h4, h5, h6 {
  font-family: 'Adobe Hebrew', Melior, serif;
}

/* title */
h1 {
  font-family: 'KestrelW00-Script', Lunatix, 'Caslon Antique', serif;
  font-weight: normal;
}

/* chapter */
h2, h3, h4, h5, h6 {
  /* font-family: Lunatix, serif; */
  font-weight: bold;
}
