/* intra paragraph formatting */

h1, h2, h3, h4, h5, h6 {
  text-indent: 0;
}

p {
  text-indent: 1.5em; /* 1em–2em */
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}

/* first paragraph */
p:first-child {
  text-indent: 0;
}

/* after heading */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  text-indent: 0;
}

/* after thematic break */
hr + p {
  text-indent: 0; /* kind of optional */
}

/* after block, list */
blockquote + p, p + pre + p, ol + p, ul + p {
  text-indent: 0; /* optional */
}

/* inter paragraph formatting */

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

h1:first-child {
  margin-top: 0em;
}

hr {
  margin-top: 1em;
  border: none;
}

/* block, table */
blockquote, p + pre, table {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* figure text */
table + p {
  text-indent: 0;
  margin-bottom: 1em;
  text-align: left;
  font-size: small;
  font-style: italic;
}

/* after figure text */
table + p + p {
  text-indent: 0;
}

p img {
  margin-top: 1em;
  margin-bottom: 1em;
}
