@import "indent.css";

/* text formatting */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: left;
}

h1 {
  text-align: center;
}

code {
  font-family: 'Roboto Mono', 'Jetbrains Mono', monospace;
}

blockquote p {
  font-style: italic; /* optional */
}
